* {
    text-align: center;
}

li {
    list-style: none;
    text-align: center;
}

body {
    background: tomato;
}

.toDo__button {
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
}  